/* Estilo - Tablet */

@media only screen and (min-width:788px) and (max-width: 979px) {

	/* Index - Qualidade */

	.qualidade:after {
		left: 68px;
	}

	.qualidade-lista li {
		padding: 20px 10px;
	}

	/* Footer */

	.footer-redes ul li a {
		display: block;
		border: 3px solid #FEC63E;
		padding: 6px;
	}

	.footer-redes ul li a img {
		width: 26px;
		height: 26px;
	}
	
}

/* Estilo - Smartphone */

@media only screen and (max-width: 787px) {

	/* Header */

	.header {
		position: relative;
		padding-bottom: 0;
	}

	.header img {
		margin: 0 auto 10px auto;
	}

	.header-menu {
		text-align: center;
	}

	.header-menu ul li {
		margin: 5px;
	}

	.header-menu ul li a {
		border: 4px solid #000;
		display: block;
		width: 136px;
		float: left;
		padding: 10px 0;
	}

	.header-menu ul li a:hover {
		border-color: #FFF;
	}

	.header-menu ul li a.menu-ativo {
		border-color: #FFF;
	}

	/* Index */

	.introducao {
		width: 100%;
		height: 380px;
		margin-top: 0;
		background: url("../img/bg-mobile.jpg") no-repeat center;
		background-size: cover;
		padding-top: 40px;
	}

	.introducao h1 {
		font-size: 36px;
	}

	/* Introdução interna */

	.introducao-interna {
		margin-top: 0;
	}

	.call-to-action {
		padding: 10px
	}

	.qualidade:after {
		display: none;
	}

	.qualidade-lista {
		padding: 15px 0;
	}

	/* Sobre */

	.missao-sobre p {
		padding-right: 0px;
		font-size: 14px;
		line-height: 20px;
	}

	.missao-sobre ul li {
		font-size: 14px;
		line-height: 25px;
	}

}